<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ReverseOreo</display-name>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listbyflight</servlet-name>
    <servlet-class>servlets.ListByFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listbyflight</servlet-name>
    <url-pattern>/Manager/ListByFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listbyname</servlet-name>
    <servlet-class>servlets.ListResrByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listbyname</servlet-name>
    <url-pattern>/Manager/ListResrByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managerallflights</servlet-name>
    <servlet-class>servlets.ListAllFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerallflights</servlet-name>
    <url-pattern>/Manager/ListAllFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageractiveflights</servlet-name>
    <servlet-class>servlets.MostActiveFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageractiveflights</servlet-name>
    <url-pattern>/Manager/MostActiveFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managerflightsatairport</servlet-name>
    <servlet-class>servlets.FlightsAtAirportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerflightsatairport</servlet-name>
    <url-pattern>/Manager/FlightsAtAirportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeeadded</servlet-name>
    <servlet-class>servlets.AddNewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeadded</servlet-name>
    <url-pattern>/Manager/AddNewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeelist</servlet-name>
    <servlet-class>servlets.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelist</servlet-name>
    <url-pattern>/Manager/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managersalesreport</servlet-name>
    <servlet-class>servlets.SalesReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managersalesreport</servlet-name>
    <url-pattern>/Manager/SalesReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>airlineruntimeschedule</servlet-name>
    <servlet-class>servlets.AirlineRunTimeScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>airlineruntimeschedule</servlet-name>
    <url-pattern>/Manager/AirlineRunTimeScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.UserLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/UserLogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerrevenue</servlet-name>
    <servlet-class>servlets.CustomerRevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerrevenue</servlet-name>
    <url-pattern>/Manager/CustomerRevenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>revenuesummary</servlet-name>
    <servlet-class>servlets.RevenueSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revenuesummary</servlet-name>
    <url-pattern>/Manager/RevenueSummaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeerevenue</servlet-name>
    <servlet-class>servlets.EmployeeRevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeerevenue</servlet-name>
    <url-pattern>/Manager/EmployeeRevenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllFlights</servlet-name>
    <servlet-class>servlets.AllFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllFlights</servlet-name>
    <url-pattern>/ReverseOreo/HomePage.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<servlet-name>servlets.UserLogInServlet</servlet-name>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <session-config>
  	<session-timeout>10</session-timeout></session-config>
</web-app>